body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/Plano\ de\ fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background-color: #fff;
    padding: 2rem; /* Usando rem para melhor escalabilidade */
    border-radius: 0.5rem; /* Usando rem para melhor escalabilidade */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* Usando rem para melhor escalabilidade */
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.25rem; /* Usando rem para melhor escalabilidade */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%; /* Usando 100% para responsividade */
    padding: 0.625rem; /* Usando rem para melhor escalabilidade */
    margin-bottom: 1rem; /* Usando rem para melhor escalabilidade */
    border: 1px solid #ddd;
    border-radius: 0.25rem; /* Usando rem para melhor escalabilidade */
    box-sizing: border-box;
    /* form-control do bootstrap ja cuida da estilização, então não precisa de width e padding */
}

.login-container input.valido {
    border: 2px solid green;
}

.login-container input.invalido {
    border: 2px solid red;
}

.login-container button {
    width: 100%;
    padding: 0.625rem; /* Usando rem para melhor escalabilidade */
    margin-bottom: 0.625rem; /* Usando rem para melhor escalabilidade */
    border: none;
    border-radius: 0.25rem; /* Usando rem para melhor escalabilidade */
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container a {
    text-align: center;
    display: block;
    margin-top: 0.625rem; /* Usando rem para melhor escalabilidade */
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}